{% extends "base.html" %}

{% block title %}
    Lista produktów
{% endblock %}

{% block content %}
    <h1>Witaj w naszym sklepie ! Zarządzaj produktami w swoim sklepie</h1>
    {% for product in object_list %}
        <li>
            <a href="{% url 'product_details' product.id %}">{{ product.category }}</a>
                 - {{product.price}} zł - {{product.amount}} szt. - {{ product.description }}
            {% if user.is_staff %}
                <a href="{% url 'product_edit' product.id %}">(Edytuj)</a>
                <a href="{% url 'product_delete' product.id %}">(Usuń)</a>
            {% endif %}
                <a href="{% url 'basket_add' product.id %}">(Dodaj do koszyka)</a>
        </li>

    {% endfor %}
{% endblock %}